<li class="px-4 py-2 flex items-center justify-between">
    <%= link_to user.name, user %>
    
    <% if current_user.admin? && !current_user?(user) %>
        <%= link_to "Delete", user, data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "rounded-md bg-red-400 p-2 font-bold text-white" %>
    <% end %>
</li>