<% if object.errors.any? %>
  <div id="error_explanation" class="w-96 rounded-lg border border-red-600 px-4 py-8 shadow-md mb-2">
    <div class="text-lg">
      The form contains <%= pluralize(object.errors.count, "error") %>.
    </div>
    <ul>
      <% object.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
