<% if @user.errors.any? %>
  <div id="error_explanation" class="w-[400px] rounded-lg border border-red-600 px-4 py-8 shadow-md mb-2">
    <div class="text-lg">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>
