
<% if logged_in? %>
  <%= render 'shared/user_info' %>
  <%= render 'shared/micropost_form' %>
  <%= render 'shared/feed' %>
<% else %>
    <h1>Sign in and create your first micropost and see others.</h1>
<% end %>